.cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    margin-top: 47.25px;
}



@media screen and (max-width: 999px) {
    .cards {
        grid-template-columns: repeat(2, 282px);
        gap: 17px 20px;
    }
}

@media screen and (max-width: 470px) {
    .cards {
        grid-template-columns: 1fr;
        gap: 17px;
    }
}
