.cards {
    width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    row-gap: 17px;
    column-gap: 20px;
    margin-top: 47.25px;
}



@media screen and (max-width: 999px) {
    .cards {
        grid-template-columns: repeat(2, 282px);
        gap: 17px 20px;
    }
}

@media screen and (max-width: 470px) {
    .cards {
        grid-template-columns: 1fr;
        gap: 17px;
    }
}
