.header {
    height: 74px;
    margin: 0 auto;
    padding: 45px 200px 0;
}

.header__divider {
    border-bottom: 1px solid #545454;
    opacity: 0.7;
    margin-top: 41px;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .header {
            height: 56px;
            padding: 28px 0 0 0;
        }

        .header__image {
            padding-left: 27px;
            width: 126;
            height: 24px;
        }

        .header__divider {
            margin-top: 32px;
        }
}
