body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.page {
    max-width: 1280px;
    height: auto;
    color: white;
    margin: 0 auto;
    font-family: Inter, Arial, Arial, Helvetica, sans-serif;
}

